{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>Document</title>
</head>
    <body>
        <!-- Sign-up form start -->
        <div class="card">
            <h1>Join Now</h1>
            {% for messages in messages %}
            <h5 id="error">{{messages}}</h5>
            {% endfor %}
            <form method="post" action="signup">
            {% csrf_token %}
              <label for="email"  class ='label' > <h>Email address<span id="45" style="color: red"></span></label>
              <input type="email" name="myEmail" placeholder="  email@company.com" />
              <br>
              <label for="Username"  class ='label' > <h>Username<span id="45" style="color: red"></span></label>
                <input type="Text" name="Username" placeholder="  email@company.com" />
                <br>
              <label for="password"  class ='label' > <h>Password<span id="45" style="color: red"></span></label>
                <input type="password" name="Password" placeholder="Password" />
                <br>
                <label for="password2"  class ='label' > <h>Confirm Password<span id="45" style="color: red"></span></label>
                    <input type="password" name="Password2" placeholder="Password" />
                    <br>
              <button id="button" type="submit" ><Sig class="0n0">Sign Up</button>
            </form>
             <h6>Already have an account? <a href="login">Login</a></h6>
            <h6 id="error"> </h6>
            </div>
</body>
</html>